:root {
  --nav-bg: clear;
  --nav-text-color: white;
  --nav-fill-bg: white;
  --nav-fill-text-color: #242526;

  --text-color: #242526;

  --bg: #242526;
  --bg-accent: #484a4d;

  --nav-size: 60px;
  --border: 1px solid #dddddd;
  --border-radius: 8px;
  --speed: 200ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  box-sizing: border-box;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  height: 2000px;
  width: 100vw;
}
