.language-switcher {
  font-size: 0.9rem;
  .switch {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 1.1rem;
    background-color: Transparent;
    font-size: 0.8rem;
    font-weight: 600;
    border: 0;
    outline: none;

    svg {
      height: 10px !important;
    }
  }

  .dropdown {
    position: block;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        transition: opacity var(--speed) ease;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
        a {
          padding: 0.5rem;
        }
      }
    }
  }

  .current-selected {
    opacity: 1 !important;
  }
}

@media screen and (max-width: 960px) {
  .language-switcher {
    .switch {
      display: flex;
    }

    .dropdown {
      position: absolute;
      top: 60px;
      width: 20px;
      background-color: var(--nav-fill-bg);
      padding: 1rem;
      overflow: hidden;
      height: auto;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          padding: 0.5rem;
          transition: opacity var(--speed) ease;
          a {
            color: var(--nav-fill-text-color);
            padding: 0.5rem;
          }
        }
      }
    }

    .dropdown-close {
      display: none !important;
      height: 0;
    }
  }
}
