.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-size);
  padding: 0 1rem;
  color: var(--nav-fill-text-color);

  .navbar-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-icon {
      height: 25px;
      width: 25px;
      padding: 1rem;
    }

    .navbar-right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    font-weight: 600;
  }
}

.navbar-clear {
  transition: all 200ms ease-in-out;
  background: rgb(36, 37, 38);
  background: -moz-linear-gradient(
    180deg,
    rgba(36, 37, 38, 0.5) 0%,
    rgba(36, 37, 38, 0.4) 25%,
    rgba(36, 37, 38, 0.2) 50%,
    rgba(36, 37, 38, 0) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(36, 37, 38, 0.5) 0%,
    rgba(36, 37, 38, 0.4) 25%,
    rgba(36, 37, 38, 0.2) 50%,
    rgba(36, 37, 38, 0) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(36, 37, 38, 0.5) 0%,
    rgba(36, 37, 38, 0.4) 25%,
    rgba(36, 37, 38, 0.2) 50%,
    rgba(36, 37, 38, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242526",endColorstr="#242526",GradientType=1);

  .switch {
    color: var(--nav-text-color) !important;

    svg {
      fill: var(--nav-text-color);
    }
  }

  a {
    color: var(--nav-text-color);
  }

  .menu-icon {
    fill: var(--nav-text-color);
  }

  h1 {
    color: var(--nav-text-color);
  }
}

.navbar-filled {
  transition: all 200ms ease-in-out;
  background-color: var(--nav-fill-bg);
  color: var(--nav-fill-text-color);
  border-bottom: var(--border);

  .switch {
    color: var(--nav-fill-text-color) !important;

    svg {
      fill: var(--nav-fill-text-color);
    }
  }

  a {
    color: var(--nav-fill-text-color);
  }

  .menu-icon {
    fill: var(--nav-fill-text-color);
  }

  h1 {
    color: var(--nav-fill-text-color);
  }
}
